.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Reduced width */
    margin-top: 50px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#imagePreviewContainer {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#imagePreview {
    max-width: 100%;
    height: 200px; /* Set height for image preview */
    object-fit: contain; /* Ensures the image fits within the container without stretching */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-file-upload {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Primary color */
    border-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.custom-file-upload:hover {
    background-color: #0056b3; /* Darker shade for hover */
    border-color: #0056b3;
}

input[type="file"] {
    display: none; /* Hide the default file input field */
}
